body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://wallpaperstock.net/grass-close-up-wallpapers_10972_2560x1600.jpg");
  background-size: cover;
  font-size: 20px;
}

.wrapper {
  width: 850px;
  display: flex;
}

video {
  box-shadow: 0 0 2px 5px rgba(240, 236, 236, 0.1);
}

.speed {
  background: #f8f8f8;
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  border-radius: 35px;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #59ff0c 0%, #fda622 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: rgb(0, 0, 0);
  height: 16.3%;
}
